body{
    background-color:#C9DDE8;
}

.logoDiv{

}

.container{
    background-color:white;
    border-radius:8px;
    padding-left:10px;
    padding-right: 13px;
}
.btns{
    padding-bottom:5px;
    padding-top:10px;

}
.btn{
    background-color:#4AB0CE;
    color:white;
    padding: 5px 15px 5px 15px;

}

.tbl {
    font-family:Arial, Helvetica, sans-serif;
    color:black;
    font-size:12px;
    text-shadow: 1px 1px 0px #fff;
    background-color:white;
    margin:20px;
    border:white 1px solid;
    border-collapse:separate;

}

.tbl th {
    font-weight:bold;
    padding:10px 10px 10px 10px;
    border-top:1px solid #fafafa;
    border-bottom:1px solid #e0e0e0;

}
.tbl th:first-child{
    text-align: left;
    padding-left:20px;

}
.tbl tr{
    text-align: center;
    padding-left:10px;
}
.tbl tr td:first-child{
    text-align: left;
    padding-left:20px;
    border-left: 0;
}
.tbl tr td {
    padding:18px;
    border-top: 1px solid #ffffff;
    border-bottom:1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;

}
